.header .bg-tag, .services .bg-tag {
  position: absolute;
  font-weight: 700;
  color: #fa0891;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  background: linear-gradient(to top,#f26522 0%, #fa0891 99%, #fa0891 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;

  &.one {
    font-size: 28px;
    animation-name: fly-one;
    @keyframes fly-one {
      from {
        top: 50%;
        left: 50%;
      }
      to {
        top: 162px;
        left: 17px;
        transform: rotate(30deg);
      }
    }
    @include media-breakpoint-up(lg) {
      font-size: 55px;
      @keyframes fly-one {
        from {
          bottom: 50%;
          left: 50%;
        }
        to {
          bottom: 87px;
          left: 17px;
          transform: rotate(30deg);
        }
      }
    }
  }

  &.two {
    font-size: 22px;
    animation-name: fly-two;
    @keyframes fly-two {
      from {
        top: 50%;
        left: 50%;
      }
      to {
        top: 54px;
        left: 29px;
        transform: rotate(30deg);
      }
    }
    @include media-breakpoint-up(lg) {
      font-size: 43px;
      @keyframes fly-two {
        from {
          top: 50%;
          left: 50%;
        }
        to {
          top: 91px;
          left: 37px;
          transform: rotate(30deg);
        }
      }
    }
  }

  &.three {
    font-size: 16px;
    animation-name: fly-three;
    @keyframes fly-three {
      from {
        top: 50%;
        left: 50%;
      }
      to {
        top: 26px;
        left: 175px;
        transform: rotate(-30deg);
      }
    }
    @include media-breakpoint-up(lg) {
      font-size: 45px;
      animation-name: fly-three;
      @keyframes fly-three {
        from {
          top: 50%;
          left: 50%;
        }
        to {
          top: 172px;
          left: 383px;
          transform: rotate(-30deg);
        }
      }
    }
  }

  &.four {
    font-size: 14px;
    animation-name: fly-four;
    @keyframes fly-four {
      from {
        top: 50%;
        left: 50%;
      }
      to {
        top: 98px;
        left: 227px;
        transform: rotate(30deg);
      }
    }
    @include media-breakpoint-up(lg) {
      font-size: 29px;
      @keyframes fly-four {
        from {
          top: 50%;
          right: 50%;
        }
        to {
          top: 85px;
          right: 29px;
          transform: rotate(30deg);
        }
      }
    }
  }

  &.five {
    @extend .d-none, .d-md-block;
    font-size: 38px;
    animation-name: fly-five;
    @keyframes fly-five {
      from {
        bottom: 50%;
        left: 50%;
      }
      to {
        bottom: 144px;
        left: 321px;
        transform: rotate(30deg);
      }
    }
  }

  &.s-one {
    @extend .d-none, .d-md-block;
    font-size: 29px;
    font-weight: 700;
    color: $white;
    background-image: initial;
    animation-name: fly-s-one;
    -webkit-text-fill-color: $white;
    @keyframes fly-s-one {
      from {
        top: 50%;
        left: 50%;
      }
      to {
        top: 24px;
        left: 115px;
        transform: rotate(30deg);
      }
    }
  }

  &.s-two {
    @extend .d-none, .d-md-block;
    font-size: 23px;
    font-weight: 700;
    color: $white;
    background-image: initial;
    animation-name: fly-s-two;
    -webkit-text-fill-color: $white;
    @keyframes fly-s-two {
      from {
        bottom: 50%;
        left: 50%;
      }
      to {
        bottom: 24px;
        left: 42%;
        transform: rotate(30deg);
      }
    }
  }

  &.s-three {
    @extend .d-none, .d-md-block;
    font-size: 38px;
    font-weight: 700;
    color: $white;
    background-image: initial;
    animation-name: fly-s-three;
    -webkit-text-fill-color: $white;
    @keyframes fly-s-three {
      from {
        right: 50%;
        bottom: 50%;
      }
      to {
        right: 9%;
        bottom: 36px;
        transform: rotate(-30deg);
      }
    }
  }
}
