
.modal-content {

  padding-top: 30px;
  padding-right: 30px;
  padding-left: 40px;
  color: $white;
  background-color: #ebebeb;
  background-image: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
  @include media-breakpoint-up(lg){
    padding-right: 150px;
    padding-left: 40px;
  }

  .modal-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #f3f3ff;
    text-transform: uppercase;
    @include media-breakpoint-up(lg){
      font-size: 32px;
      font-weight: 700;
      line-height: 42px;
    }
  }

  .form-control {
    display: block;
    width: 90%;
    padding-left: 0;

    margin-top: 40px;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border-color: #fff;
    border-style: solid;
    border-width: 0 0 2px;
    border-radius: 0;
    box-shadow: none;
    transition: all .3s ease-in-out;
    @include media-breakpoint-up(lg){
      width: 75%;
      font-size: 18px;
    }

    &::placeholder {
      color: #fff;
      transition: all .3s ease-in-out;
    }

    &:focus {
      border-width: 0 0 3px;

      &::placeholder {
        opacity: 0;
      }
    }
  }
  .btn-modal {
    @extend  .btn-primary;
    margin-top: 40px;
  }


}
