.sprite {
  display: block;
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
}

.sprite-icon_facebook {
  width: 16px;
  height: 28px;
  background-position: -5px -5px;
}

.sprite-icon_instagram {
  width: 25px;
  height: 25px;
  background-position: -31px -5px;
}

.sprite-icon_twitter {
  width: 29px;
  height: 25px;
  background-position: -66px -5px;
}

.sprite-icon_vk {
  width: 35px;
  height: 21px;
  background-position: -105px -5px;
}